pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0;
    font-family: 'Consolas' !important;
}
code.hljs {
    padding: 0
}
.hljs {
    color: #383a42 !important;
}
#dark-app .hljs {
    color: #abb2bf !important;
}
.github-markdown-body .hljs{
    background: #fafafa !important;
}
.v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre code{
    font-family: 'Consolas' !important;
}
#dark-app .v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre {
    background: #282c34 !important;
}
#dark-app .v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre code{
    color: #a0a1a7 !important;
}
.hljs-comment, .hljs-quote {
    color: #a0a1a7 !important;
    font-style: italic
}
#dark-app .hljs-comment, .hljs-quote {
    color: #5c6370 !important;
}
.hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #a626a4 !important
}
#dark-app .hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #c678dd !important
}
.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e45649 !important
}
#dark-app .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e06c75 !important
}
.hljs-literal {
    color: #0184bb !important
}
#dark-app .hljs-literal {
    color: #56b6c2 !important
}
.hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #50a14f !important
}
#dark-app .hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #98c379 !important
}
.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #986801 !important
}
#dark-app .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #d19a66 !important
}
.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: #4078f2 !important
}
#dark-app .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: #61aeee !important
}
.hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
    color: #c18401 !important
}
#dark-app .hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
    color: #e6c07b !important
}
.hljs-tag{
    color: red !important;
}
#dark-app .hljs-tag{
    color: white !important;
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-link {
    text-decoration: underline
}