.n-color-picker {
  width: 30px;
  display: inline-block;
}
.n-dynamic-tags .n-button:not(.n-button--disabled):hover{
  --n-text-color-hover: #ccc !important;
}
.n-collapse-item__content-inner{
  padding-top: 5px !important;
}
.n-collapse-item__header-main{
  font-weight: bold !important;

}
#dark-app {
  .n-input{
    --n-color-focus: #454647 !important;
  }
  .n-dynamic-tags .n-button:not(.n-button--disabled):hover{
    --n-text-color-hover: white !important;
  }
  .n-drawer{
    --n-color: #303133;
  }
  .n-list{
    --n-merged-color: #303133 !important;
  }
}
.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical{
  right: 1px !important;
}
#light-app .n-tag--closable button{
  color: #aaa;
}
#dark-app .n-dynamic-tags .n-button{
  --n-text-color-pressed: #adadaf !important;
}
.n-breadcrumb .n-breadcrumb-item .n-breadcrumb-item__link{
  padding: 0 !important;
}
.n-dropdown-option{
  transition: background-color .3s;
}
.n-dropdown-option:hover{
  background-color: #f3f3f5;
}
#dark-app .n-dropdown-option:hover{
  background-color: #59595e;
}
.n-dropdown-menu.n-dropdown-menu--scrollable .n-dropdown-menu__content{
  padding: 2px !important;
}