@import "style/atom";
:root{
  --global-color: white;
  --selected-color: white;
  --high-color: white;
}
#light-app{
  --utools-background-color: white;
  --plugin-background-color: #f5f5f5;
  --plugin-text-selected-background-color: rgba(0,0,0,.1);
  --scrollbar-thumb-background-color: #ccc;

  --item-code-text-color: #a9a8a8;
  --item-code-scroller-border-color: #ccc;

}
#dark-app{
  --utools-background-color: #303133;
  --plugin-background-color: #303133;
  --plugin-text-selected-background-color: rgba(255,255,255,.1);
  --scrollbar-thumb-background-color: #262626;

  --item-code-text-color: #a4a4a4;
  --item-code-scroller-border-color: #666666;
}
.global-color{
  color: var(--global-color)
}
.kitx-italic{
  font-style: italic;
}
@import "style/naiveui";
*{
  padding: 0;
  margin: 0;
  &::selection{
    background-color: var(--plugin-text-selected-background-color) !important;
  }
  &::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb{
    border-color: var(--plugin-background-color);
    background-color: var(--scrollbar-thumb-background-color);
  }
  &::-webkit-scrollbar-corner{
    background-color: transparent;
  }
}
body#light-app{
  background-color: var(--plugin-background-color);
}
.snippet-item  b{
  color: var(--global-color);
}

.vue-recycle-scroller{
  &::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb{
    border-color: var(--plugin-background-color);
    background-color: var(--scrollbar-thumb-background-color);
  }
}


p.func-desc i,.kitx-mark{
  color: #ffa400;
  font-size: 13px;
  font-style: normal;
}
p.tooltip b{
  padding-left: 3px;
  padding-right: 3px;
}


.item-code-scroller{
  border-top: 1px var(--item-code-scroller-border-color) dashed;
  code.hljs {
    padding: 0;
  }
}
.item-code{
  font-size: 12px;
  font-family: Consolas;
  //font-style: italic;
  color: var(--item-code-text-color);
}

.kitx-snippet{
  border-radius: 3px;
  background-color: var(--selected-color) !important;
  transition: background-color .3s;
  color: #c6c6c9;
  .kitx-var{
    color: #10be8e;
    font-weight: bolder;
  }
  .kitx-right-command{
    color: #ffa400;
    font-weight: bolder;
  }
  .kitx-error-command{
    color: #f30606;
  }
  .kitx-param{
    color: #7e8088;
  }
  .kitx-reference{
    color: #4078f2;
    font-weight: bolder;
  }
  &:hover{
    background-color: var(--global-color) !important;

    color: white;
    *{
      color: white !important;
    }
  }
}

#dark-app {
  .kitx-snippet{
    background-color: #3a3a3c !important;
    color: #777;

    &:hover{
      background-color: var(--global-color) !important;
      color: #303133;
      *{
        color: #303133 !important;
      }
    }
  }
  .kitx-param{
    color: #aaa;
  }
}

span.shortcut{
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  margin-left: 5px;
  border-radius: 5px;
  background: rgba(191, 208, 229, 0.2) !important;
}