@import "style/atom.css";
*{
  padding: 0;
  margin: 0;
}

.n-card > .n-card__footer{
  padding-bottom: 0 !important;
}
#app .hljs-container pre{
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;*/
  background-color: transparent;
}


.hljs-container pre code.hljs{
  padding: 0 !important;
}
.n-color-picker {
  width: 30px;
  display: inline-block;
}
.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical{
  right: 1px !important;
}
.item-code code.hljs{
  background-color: transparent;
  padding: 5px;
  font-size: 12px !important;
}

.item-code{
  border-top: 1px darkgray dashed;
}
#dark-app .n-input{
  --n-color-focus: #454647 !important;
}
#dark-app .n-dynamic-tags .n-button:not(.n-button--disabled):hover{
  --n-text-color-hover: white !important;
}
.n-dynamic-tags .n-button:not(.n-button--disabled):hover{
  --n-text-color-hover: #ccc !important;
}


#dark-app .v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre::-webkit-scrollbar-track-piece{
 background-color: #303133;
}

#dark-app .v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
#dark-app .v-md-editor-preview > .github-markdown-body .v-md-pre-wrapper > pre::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
